*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}
body{
    background-image: url('background1.jpg');
}
section{
    margin:50px auto;
    
    width: 700px;
    height: 200px;
    
}
label{
    font-size: 30px;
    color: white;
}

input{
    margin-left: 560px;
    width: 30px;
    height: 30px;
}

.hl{
    border-bottom: 3px solid white;
    width: 600;
}